:root{
    --veryDarkBlue: hsl(233, 47%, 7%);
    --darkDesaturatedBlue: hsl(244, 38%, 16%);
    --softViolet: hsl(277, 64%, 61%);
    --slightlyTransparentWhite: hsla(0, 0%, 100%, 0.75);
    --slightlyTransparentWhite: hsla(0, 0%, 100%, 0.6);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

span.insig{
    color: var(--softViolet);
}

div.container{
    background-color: var(--veryDarkBlue);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.content{
    background-color: var(--darkDesaturatedBlue);
    width: 70%;
    height: 50%;
    display: flex;
}

div.text{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px;
    width: 50%;
}

h1{
    font-size:40pt;
    margin-bottom: 40px;
    font-family: "inter";
}

.p1{
    font-size: 25px;
    color: var(--slightlyTransparentWhite);
    margin-bottom: 100px;
    font-family: "Lexend Deca";
}

ul{
    font-size: 20pt;
    font-weight: bolder;
    display:flex;
    list-style-type: none;
    padding: 15px;
}

#companies{
    margin-right: 100px;
    font-family: "inter";
    font-weight: 400;
}

#templates{
    margin-right:100px;
    font-family: "inter";
    font-weight: 400;
}

#queries{
    margin-right:71px;
    font-family: "inter";
    font-weight: 400;
}

.spanlist{
    font-size: 15pt;
    display:block;
    color: var(--slightlyTransparentWhite);
    font-weight:normal;
    font-family: "inter";
    font-weight: 400;
}

div.image{
    background-image: url(/images/image-header-desktop.jpg);
    width: 50%;
    position: relative;
}

div.image::before{
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--softViolet);
    opacity: 0.45;
}





